@font-face{
  font-family: 'Yeseva One';
  src: url("../fonts/YesevaOne-Regular.woff2"),
  url("../fonts/YesevaOne-Regular.woff"),
  url("../fonts/YesevaOne-Regular.ttf");
  font-weight: 400;
}
@font-face{
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff2"),
  url("../fonts/Roboto-Regular.woff"),
  url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face{
  font-family: 'Comfortaa';
  src: url("../fonts/Comfortaa-Regular.woff2"),
  url("../fonts/Comfortaa-Regular.woff"),
  url("../fonts/Comfortaa-Regular.ttf");
  font-weight: 400;
}
@font-face{
  font-family: 'Comfortaa';
  src: url("../fonts/Comfortaa-Semibold.woff2"),
  url("../fonts/Comfortaa-Semibold.woff"),
  url("../fonts/Comfortaa-Semibold.ttf");
  font-weight: 600;
}
@font-face{
  font-family: 'Comfortaa';
  src: url("../fonts/Comfortaa-Bold.woff2"),
  url("../fonts/Comfortaa-Bold.woff"),
  url("../fonts/Comfortaa-Bold.ttf");
  font-weight: 700;
}
