/*Colors*/
$accentColour: #BEA495;
$infoColour: #7B6152;
$bgSectionColour: #A5978E;
$btnColour: #FFBD59;
$btnTextColour: #272727;
$bgColour: #FFF8F3;
$textColour: #000;
$textColourSecondary: #FAFAFA;
$menuColour: #FFF8F3;